{% extends 'women/base.html' %} {% load women_tags %} {% load static %} {% block content %}
<div style="color: {% if messages %} green {% else %} red {% endif %};">
    <h1 class="text-center">
        {% if messages %} {% for message in messages %} {{ message }} {% endfor %} {% else %}
        {{ form.non_field_errors }} {% endif %}
    </h1>
</div>
<div class="container-fluid">
    <h1 class="text-center">Coolsite - посвященный Женщинам Мира</h1>
    <h3>Последние статьи:</h3>
    {% get_new_posts as posts %}
    <div class="row">
        {% for post in posts %}
        <div class="col mt-5 text-center">
            <div class="article-panel">
                <p class="text-center">Обновлено: {{ post.time_update|date:"d-m H:i" }}</p>
            </div>
            <a class="btn button" href="{{ post.get_absolute_url }}">
                {% if post.photo %}
                <p>
                    <img style="width: auto; height: 400px" src="{{ post.photo.url }}" />
                </p>
                {% endif %}
                <h1>{{ post.title }}</h1>
                {% autoescape off %}
                <p>{{ post.content|linebreaks|striptags|truncatewords:100 }}</p>
                {% endautoescape %}
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}