{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link type="text/css"
          href="{% static 'women/css/styles.css' %}"
          rel="stylesheet"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon"
          href="{% static 'women/images/main.ico' %}"
          type="image/x-icon"/>
    {% block css %}
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
    {% endblock css %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        .btn-bottom-right {
            position: absolute;
            bottom: 100px;
            right: 50px;
            margin: 10px;
        }
    </style>
</head>
<body>
<table class="table-page" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td valign="top">
            {% block mainmenu %}
                <div class="header">
                    <ul id="mainmenu" class="mainmenu">
                        <li class="logo">
                            <a href="{% url 'women:index' %}">
                                <div class="logo"></div>
                            </a>
                        </li>
                        {% for item_menu in menu %}
                            <li>
                                <a href="{% url item_menu.url_name %}">{{ item_menu.title }}</a>
                            </li>
                        {% endfor %}
                        {% if user.is_superuser or user.is_staff %}
                            <li><a href="{% url 'admin:index' %}" target="_blank">Админка</a></li>
                        {% endif %}
                        <li class="last">
                            {% if user.is_authenticated %}
                                <a href="{% url 'users:profile' %}">Профиль</a> | <a href="{% url 'users:logout' %}">Выйти</a>
                            {% else %}
                                <a href="{% url 'users:login' %}">Войти</a> | <a href="{% url 'users:register' %}">Регистрация</a>
                            {% endif %}
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
            {% endblock mainmenu %}
            <table class="table-content" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <!-- Sidebar слева -->
                    <td valign="top" class="left-chapters">
                        <ul id="leftchapters">
                            {% if cat_slug == 'all' %}
                                <li class="selected">Все категории</li>
                            {% else %}
                                <li>
                                    <a href="{% url 'women:category' 'all' %}">Все категории</a>
                                </li>
                            {% endif %}
                            {% for category in categories %}
                                {% if category.women__count > 0 %}
                                    {% if category.slug == cat_slug %}
                                        <li class="selected">{{ category.name }}</li>
                                    {% else %}
                                        <li>
                                            <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </td>
                    <!-- Конец Sidebar'а -->
                    <td valign="top" class="content">
                        <!-- Хлебные крошки -->
                        {% block breadcrumbs %}
                        {% endblock breadcrumbs %}
                        <!-- Блок контента -->
                        <div class="content-text mt-auto">

                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }} text-center">{{ message }}</div>
                                {% endfor %}
                            {% endif %}

                            {% block content %}
                            {% endblock content %}
                            {% if page_obj.has_other_pages %}
                                <nav class="list-pages">
                                    <ul>
                                        {% if page_obj.has_previous %}
                                            <li class="page-num">
                                                <a href="?page=1">&lt;&lt;</a>
                                            </li>
                                        {% endif %}
                                        {% for page in paginator.page_range %}
                                            {% if page_obj.number == page %}
                                                <li class="page-num page-num-selected">{{ page }}</li>
                                            {% elif page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %}
                                                <li class="page-num">
                                                    <a href="?page={{ page }}">{{ page }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if page_obj.has_next %}
                                            <li class="page-num">
                                                <a href="?page={{ page_obj.paginator.num_pages }}">&gt;&gt;</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            {% endif %}
                        </div>
                        <!-- Конец блока контента -->
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- Footer -->
    <tr>
        <td valign="top">
            <div id="footer">
                <p>
                    &copy; 2021 Частичное или полное копирование информации с данного сайта для распространения на других ресурсах,
                    в том числе и бумажных, строго запрещено.
                </p>
            </div>
        </td>
    </tr>
</table>
<!-- Конец footer'а и страницы -->
</body>
</html>
