{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
{% endblock css %}

{% block content %}
    <h1>{{ title }}:</h1>
    <div style="color: {% if messages %} green {% else %} red {% endif %}">
        <h1 class="text-center">
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        </h1>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for item_form in form %}
            <div class="row mt-5">
                <div class="col-auto">
                    <label class="form-label" for="{{ item_form.id_for_label }}">{{ item_form.label }}: </label>
                </div>
                <div class="col-auto">
                    {{ item_form }}
                </div>
            </div>
            <div class="form-error">{{ item_form.errors }}</div>
        {% endfor %}
        <button type="submit">Войти</button>
    </form>
{% endblock %}
